heading {
    background-color: black;
    font-family: Futura;
    color: white;
}

body {
    background-color: black;
    font-family: Futura;
    color: white;
}

img {
    width: auto;
    height: auto;
}