<html>
<head>
    <link rel="stylesheet" href="/static/stylesheets/index.css" >
</head>
	<body>
	<h1>
    	{{ .title }}
    </h1>
    <h2>
        {{ .heading }}
    </h2>
    <h3>
	  <a href="/eighties" class="button">Best of the 80s</a>
	  <a href="/easy" class="button">Easy Listening</a>
	</h3>
	<img src = {{ .image }} >
    </body>

</html>