<html>
<head>
    <link rel="stylesheet" href="/static/stylesheets/index.css" >
</head>
	<h1>
		{{ .title }}
	</h1>
	<h2>
	    {{ .heading }}
	</h2>
	<body>
	  <a href = "/eighties">Best of the 80s</a><br>
	  <a href = "/easy">Easy Listening</a><br>
      <img src = {{ .image }} >

    </body>
</html>